<ion-view view-title="ช่วยเหลือ">
    <ion-content class="padding">
        <h2>ยินดีต้อนรับเข้าสู่<br> <u>{{app.name}}</u></h2>
        <hr>
        <h3>เมนู : <u>รับข้อมูล</u></h3>
        <p> - เมนูนี้จำเป็นต้องเปิด GPS เพื่อรับพิกัด แลตติจูดและลองจิจูด
        </p>
        <p>
            - ทำการกรอกข้อมูลให้ครบถ้วน ตรวจสอบให้แน่ใจ แล้วกดปุ่ม บันทึก
        </p>
        <p>
            - ข้อมูลทั้งหมดที่บันทึกได้ จะไปอยู่ในเมนู <u>แสดงผล</u>
        </p>
        <hr>
        <h3>เมนู : <u>แสดงผล</u></h3>
        <p>
            - เมื่อเข้ามาเมนูนี้จะแสดงผลจากการบันทึกข้อมูล ในเมนู <u>รับข้อมูล</u> ซึ่งข้อมูลเหล่านี้จะบันทึกลงในเครื่องนี้เท่านั้น
        </p>
        <p>
            - สามารถเลือกดูรายละเอียดแต่ละรายการได้ โดยการคลิกที่หัวข้อนั้นๆ
        </p>
        <p>
            - สามารถลบข้อมูล โดยการสไลด์ที่ข้อมูลที่ต้องการลบ ไปทางด้านซ้ายมือ จะปรากฏเมนูลบขึ้นมา หรือคลิกเข้าไปด้านในของข้อมูล จะปรากฏปุ่มลบด้านล่างสุดของจอ
        </p>
        <hr>
        <h3>เมนู : <u>ส่งออกข้อมูล</u></h3>
        <p>
            - สามารถนำข้อมูลที่บันทึกได้ ส่งออกไปยังเครื่องคอมพิวเตอร์ ที่เขียนโปรแกรมรองรับไว้
        </p>
        <p>
            - กำหนดจุด หรือพิกัดบน Google Map ได้
        </p>
        <p>
            - บันทึกข้อความสักเล็กน้อยเพื่อให้รู้ว่าเครื่องเราเป็นคนส่ง กรณีทำงานร่วมกันหลายคน
        </p>
        <p>
            - กดส่งข้อมูล ถ้าระบบตอบรับ แจ้งว่าสำเร็จก็แสดงว่าข้อมูลได้ถูกส่งไปยังเครื่องคอมพิวเตอร์เรียบร้อยแล้ว
        </p>
        <p>
            - กรณีกดส่งแล้ว มีปัญหาไม่สามารถส่งได้ หรือไม่มีระบบตอบรับ ให้ตรวจสอบที่เมนู <u>ตั้งค่า</u> หัวข้อ IP เครื่องแม่ ว่าถูกต้องหรือไม่
        </p>
        <hr>
        <h3>
          เมนู : <u>ตั้งค่า</u></h3>
        <p>
            - หัวข้อ <u>IP เครื่องแม่</u> สำหรับกำหนด Host ที่เราต้องการส่งข้อมูลออกไป
        </p>
        <p>
            - หัวข้อ <u>ชื่ออุปกรณ์</u> สำหรับกำหนดชื่อ โทรศัพท์ของเราเมื่อส่งออกข้อมูล
        </p>
        <p>
            - หัวข้อ <u>ชื่อผู้ใช้งาน</u> สำหรับกำหนด ชื่อผู้ใช้ตอนส่งออกข้อมูล กรณีเครื่องนี้มีผู้ใช้งานหลายคน
        </p>
        <p>
            - หัวข้อ <u>ลบอัตโนมัติหลังจากส่งออก</u> สำหรับกำหนดได้ว่า เมื่อทำการส่งออกข้อมูล ระบบตอบกลับมาว่าสำเร็จแล้ว จะทำการลบข้อมูลในเครื่องนี้ทิ้งอัตโนมัิหรือไม่ เพื่อไม่ให้สับสนในการใช้งานต่อไป
        </p>
        <hr>
        <p>
            ** โปรแกรมนี้ ไม่จำเป็นต้องเปิดใช้งานอินเตอร์เน็ต ก็สามารถทำงานได้ แค่มี GPS เมื่อไปยังที่อับสัญญาณ โทรศัพท์ก็สามารถทำงานได้
        </p>
        <hr>
        <h3>Contact us</h3>
        <p>
            นายนที พืชเพี้ยน 44/2 ม.4 ถ.เฉลิมพระเกียรติร.9 ปัถวี มะขาม จันทบุรี 22150 โทร.080-6338269
        </p>
        <hr>
        <p>
            Copyright © 2016 by Natee Puechpean สงวนสิทธิ์ห้ามทำซ้ำทั้งหมดหรือบางส่วน ไม่ว่าในรูปแบบหรือสิ่งใดโดยไม่ได้รับการอนุญาตจาก Natee Puechpean เป็นลายลักษณ์อักษร
        </p>
        </div>
        </div>
    </ion-content>
</ion-view>
